*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(233, 231, 230);
}

.head-container {
    background: url(./media/images/cinema-pic.jpeg);
    height: 100vh;
}

.logo {
    color: #fff;
    margin: 10px 30px;
    font-size:30px;
    font-style:oblique;
    font-weight: bolder;
    font-family: monospace;
    transform: skewX(-14deg);
    letter-spacing: .12em;
    text-shadow: 4px 4px 6px grey;
}

.span {
    color: orangered;
}

.head-wrapper {
  display: flex;
  justify-content: space-between; 
  padding: 10px;
 
}

.head-wrapper ul {
    display: flex;
    justify-content: space-around;
}

.head-wrapper a {
    text-decoration: none;
    color: rgb(245, 185, 19);
    font-size: 22px;
    font-weight: bolder;
    transition: .7s;
    display: block;
}

.head-wrapper a:hover {
    color: orangered;
    transform: skewX(-13deg);
}

.head-wrapper li {
    margin: 10px 40px;
}

video {
    width: 60%;
    margin: 5px 0 20px 80px;
    box-shadow: 3px 4px 4px rgb(65, 63, 63);
}

.wrapper-2 {
    display: flex;
}

.wrapper-2 p {
    background-color:rgb(8, 24, 41);
    color: white;
    padding: 20px;
    text-align: center;
    width: 250px;
    margin: 5px auto 20px 0 ;
    letter-spacing: .1em;
    line-height: 1.2;
    font-family: monospace;
    font-size: 17px;
    box-shadow: 3px 6px 4px rgb(65, 63, 63);
}

.design {
    background: linear-gradient(to right, transparent 30%, orangered 70%);
    background-size: 210%;
    background-position: left;
    padding: 10px 30px;
    margin-top: 9px;
    border: 0;
    border-radius:3px ;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: .6s;
    text-align: center;
    cursor: pointer;
    border: 1px solid orangered;
}

.design:hover {
   background-position: right;
   transition: background-position 0.5s;
   color: #000;
}

.main {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 9px;
    border-radius: 3px;
    border: transparent;
    background: linear-gradient(to top right, rgba(0,0,0,5),  rgba(164, 189, 204, 0.8));
    width: 250px;
    padding: 10px 15px;
    font-family: monospace;
    color: rgb(207, 204, 255);
    transition: .8s;
}

.main:hover {
    color: rgb(33, 245, 33);
  
}

main {
    min-height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.content img {
    width: 200px;
    height: 330px;
}

.vidz img {
    width: 300px;
}

.vidz p {
    width: 300px;
    text-align: center;
}

.vidz {
    margin: 15px 20px;
}

.main-wrapper-icon {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 11, 11);
    min-height: 100vh;
    padding: 20px;
    color: #fff;
    font-size:30px;
    justify-content: start;
    position: sticky;
    top: 0;
    align-self: flex-start;
  }

.main-wrapper {
    display: flex;
}

.main-wrapper-icon a {
    color: #fff;
    transition: .6s;
    width: 0%;
}


.main-wrapper-icon a:hover {
    color: rgb(214, 46, 46);
}

.side-bar {
    background-color: rgb(20, 11, 11);
    min-width: 200px;
    color: #fff;
}

.side-bar p {
    margin: 30px auto;
    text-align: center;
    line-height: 1.3;
    font-size: 22px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.span-2 {
    color: orange;
    font-size: 24px;
    line-height: 1.2;
    font-family: monospace;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: .06em;
    
}

.side-bar img {
    width: 100%;
    height: 350px;
    margin: 10px 0;
}

.fa-house, .fa-users, .fa-clapperboard{
    margin-top: 50px;
}

.fa-envelope {
    margin-top: 200px;
}

.lead {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #efedd6;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid grey;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, .4);
    transition: show 5s;
    animation-timing-function: ease-in-out;
    animation: show 3s  1;
    overflow-x:hidden;
}

@keyframes show {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

.lead p {
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 30px;
}

.lead img {
    width: 300px;
    margin-top: 20px;
}

.lead h2 {
    font-size: 37px;
    color: olivedrab;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}



.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 30%;
    top:20px;
    width: 30%; 
    height: 100%;
    padding-top: 0; 
    overflow: auto; 
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    transition: 1s;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0};
  to {top:0; opacity:1}; 
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

  .modal-content {
    background-color: rgb(101, 106, 109);
    margin: auto;
    padding: 35px;
    border: 1px solid rgb(70, 69, 69);
    color: #fff;
    line-height: 1.2;
    font-family: monospace;
    font-size: 15px;
    width: 100%;
    border-radius: 10px;
  }

  .modal-content img {
    margin-left: 10px;
    width: 300px;
    height: 200px;
  }
  
  .new-button {
    margin: 5px 40px;
    pointer-events: auto;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    transition: .6s;
    margin-left: 10px;
    padding: 0 10px;
  }
  
  .close:hover,
  .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: red;
  }
  
.container {
    margin: 20px;
}

.wrapped-container {
    margin: 30px auto;
    max-width: 700px;
    border-bottom: 5px solid rgb(29, 9, 9);
    padding: 20px;
    background: linear-gradient(to bottom left, rgb(155, 150, 132), rgba(0,0,0,.5));
    border-radius: 10px;
     box-shadow: 3px 3px 7px rgb(58, 57, 57);
    transition: .8s;
}


.wrapped-container:hover {
    transform: scale(1.2, 1.1);
}

.wrapped-container img {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    margin-bottom: 5px;
}

.wrapped-container p{
   max-width: 500px;
   font-family: monospace;
   font-size: larger;
   line-height: 1.4;
   color: #efedd6;
}

.section {
    display: flex;
    justify-content: start;
    align-items: center;
}
.section h3 {
    margin-left: 10px;
    font-family: monospace;
    font-size: 19px;
    color: rgb(207, 205, 197);
    letter-spacing: .07em;
   
}

fieldset {
    animation: new-animation 5s infinite;  
    padding: 30px;
    border: 5px solid grey;
}

legend {
    color: rgb(163, 168, 172);
    font-size: 20px;
    font-weight: bolder;
}

.contact {
    padding: 30px
}

.contact-container {
    max-width: 500px;
    margin: 10px auto;
    opacity: 0;
    animation: contact 3.5s 1;
    animation-fill-mode: forwards;
}

@keyframes contact{
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.inp {
    margin-bottom: 30px;
    width: 100%;
    padding: 15px;
    border: none;  
    background: linear-gradient(to top right, rgba(102, 98, 98,1), rgba(236, 201, 201,1));
    color: #fff;
    font-weight: bold;
}

.inp::placeholder {
   color: #fff;
   font-weight: bold;
}

.lab {
    color: rgb(248, 246, 246);
    margin-bottom: 6px;
    display: inline-block;
    font-size: 22px;
    font-family: monospace ;
}

textarea {
    width: 100%;
    background: linear-gradient(to top right, rgba(102, 98, 98,1), rgba(236, 201, 201,1));
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.send {
    background: rgb(146, 4, 4);
    padding: 10px;
    border: none;
    color: #fff;
    margin: 15px 0 5px;
    font-weight: bolder;
    font-size: 17px;
    width: 100%;
    cursor: pointer;
    transition: .4s;
}

.send:hover {
    background: rgb(9, 95, 9);
}

.wipe-paragraph {
    display: none;
}


@media (max-width: 900px) {
    .wrapper-2 {
        flex-direction: column;
    }

    .wrapper-2 input, span {
        display: none;
    }

    .wrapper-2 video {
        min-width: 80%;
        margin-left: 30px;
    }

    .wrapper-2 p {
        width: 100%;
        display: none;
    }

    .content {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
    }

    .wipe-paragraph {
        display: block;
    }

    .wipe {
        margin: 10px 120px;
    }

    video {
      display: block; 
    }

   .side-bar {
    display: none;
   }
    
    .content .vidz {
        margin: 15px 10px 30px;
    }

    .main-wrapper-icon {
        margin-right: 30px;
    }

    .modal {
        width: 50%;
    }
   
    .side-bar {
        min-height: 100vh;
    }

    .main {
        margin-top: 10px
    }

    .head-wrapper {
        min-height: 100px;
    }   
    
    .logo {
        margin: 10px 10px;
}

    .span {
        display: inline;
    }

    .lead-1 {   
        margin-bottom: 20px;
    }
    
.wrapped-container:hover {
    transform: scale(1);
}
}



@media (max-width: 500px) {
    .head-wrapper {
        flex-direction: column;
    }
    
    .main-wrapper-icon {
        min-height: 100vh;
    }
    .head-container {
        max-height: 64vh;
    }

    .logo {
        text-align: center;
    }

    video {
        margin: 15px;
    }
   
    .wipe {
        margin: 13px;
    }

        .content {
            grid-template-columns: 1fr;
        }

        
    .content .vidz {
        margin: 15px 0px 0px;
    }

    .main-wrapper-icon {
        padding: 10px 5px 
    }

        .modal {
            width: 80%;
            left: 0%;
        }
  
        .main-wrapper-icon {
            margin-right: 5px;
            justify-content: start;
            position: sticky;
            top: 0;
            align-self: flex-start;
    }
    
     .modal-content {
            padding: 10px;
        }
       
} 
